// IMPORTANT! DO NOT COMMIT THIS FILE!
//
// Replace the text 'YOUR MAPBOX ACCESS TOKEN' with your MapBox access token
// and save and rename this file to 'ApiKey.js'.
//
const apikey = {
  MAPBOX_ACCESS_TOKEN: 'YOUR MAPBOX ACCESS TOKEN'
};

export default apikey;