{
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSameLine": false,
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "quoteProps": "as-needed",
  "endOfLine": "lf"
}