/* Map */

div#root {
  background-color: #fff;
}

.leaflet-container {
  height: 720px;
  width: 1280px;
  margin: 0 auto;
  font-size: 90%;
  line-height: 18px;
  font-family: Baskerville, 'Goudy Old Style', serif;
}

.boldText {
  font-weight: bold;
}

