/* Map */
.leaflet-container {
  height: 600px;
  width: 1000px;
  margin: 0 auto;
}

#feature-popup {
  min-height: 300px;
}

.react-tabs__tab-panel > table {
  width: 100%;
  align: center;
}

.leaflet-popup-content-wrapper .leaflet-popup-content tr:nth-child(even) {
  background-color: lightblue;
}
.leaflet-popup-content-wrapper .leaflet-popup-content table,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px;
}

.map-legend .legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
  position: absolute;
  bottom: 15px;
  z-index: 500;
  border: 1px solid black;
  background: rgba(223, 223, 220, 0.85);
}
.map-legend .legend-scale ul li {
  font-size: 90%;
  list-style: none;
  margin-left: 0;
  margin-right: 5px;
  line-height: 18px;
  margin-bottom: 2px;
  z-index: 500;
}
.map-legend ul.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 30px;
  margin-right: 5px;
  margin-left: 0;
  border: 1px solid #999;
  z-index: 500;
}
.map-legend a {
  color: #777;
  z-index: 500;
}
